<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body id="page-<%= _.pageName %>" class="_<%= _.route.path.replace(/\//g, '_') %>" <% if (_.route.resource) { %>
  data-resource="<%= _.route.resource %>" data-resource-id="<%= _.state._id %>" <% } else if (_.route.collection) { %>
  data-cms-collection="<%= _.route.collection %>" <% } %>>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>

    <div class="content-orcamento">
      <div class="content-title-page">
        <h1 class="title-page">Orçamento</h1>
      </div>
      <div class="container">
        <p class="title-page">Lista de produtos selecionados</p>
        <div class="budgetList-content"></div>
        <div class="content-form">
          <form method="post">
            <div class="content-input-single">
              <input type="text" name="nome" id="" placeholder="Nome (campo obrigatório)" required>
            </div>
            <div class="content-input-duplo">
              <input type="text" name="email" id="" placeholder="E-mail (campo obrigatório)" required>
              <input type="text" name="telefone" id="" placeholder="Telefone (campo obrigatório)" required>
            </div>
            <div class="content-input-duplo">
              <input type="text" name="endereco" id="" placeholder="Endereço">
              <input type="text" name="cep" id="" placeholder="CEP">
            </div>
            <input type="hidden" name="sku-list">
            <textarea name="mensagem" id="" cols="30" rows="10" placeholder="Detalhes ou Dúvidas (campo obrigatório)"></textarea>
            <button>Solicitar orçamento</button>
          </form>
        </div>
      </div>
    </div>

    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>

</body>

</html>