<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    
    <div class="content-orcamento">
      <div class="container">
        <p class="title-page">Lista de produtos</p>
        <div class="budgetList-content"></div>
        <div class="content-form">
          <form action="">
            <div class="content-input-duplo">
              <input type="text" name="" id="" placeholder="Nome">
              <input type="text" name="" id="" placeholder="E-mail">
            </div>
            <div class="content-input-duplo">
              <input type="text" name="" id="" placeholder="Empresa">
              <input type="text" name="" id="" placeholder="CNPJ">
            </div>
            <div class="content-input-duplo">
              <input type="text" name="" id="" placeholder="Endereço">
              <input type="text" name="" id="" placeholder="Complemento">
            </div>
            <div class="content-input-quadruplo">
              <div>
                <input type="text" name="" id="" placeholder="Telefone">
                <input type="text" name="" id="" placeholder="Cidade">
              </div>
              <div>
                <input type="text" name="" id="" placeholder="Estado">
                <input type="text" name="" id="" placeholder="CEP">
              </div>
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Detalhes ou Dúvidas"></textarea>
            <button>Solicitar orçamento</button>
          </form>
        </div>
      </div>
    </div>

    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
</body>

</html>